body{
	box-sizing: border-box;
	margin: 0;
	}

header {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
	text-align: right;
}

h1{
	margin-bottom: 4%;
	margin-top: 4%;
	text-align: left;
}

pre {
	font-family: Arial;
}

#arrow{
	width: 3%;

}

#container{
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	width: 80%;
}


#container-content .tg{
	height: 30px;
	visibility: hidden;
}

#container-content .menu {
	background-color: #f9f9f9; /* Fondo de pestañas */
	border-color: black black #f1f1f1 black;
	border-style: solid;
	border-radius: 10px 10px 0 0;
	color: #888;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	margin-left: 4px;
	padding: 0 24px;
	text-align: center;
}

#container-content .tg:hover + .menu{
	background-color: #ddd;
	color: #666;
}

#container-content .tg:checked + .menu{
	background-color: gray;
	color: white;
	position: relative;
}

#content{
	background-color: #f1f1f1;
	border-color: black;
	border-style: solid;
	min-height: 500px;
	position: relative;
	width: 100%;
}

.content-tabs{
	opacity: 0;
	position: absolute;
	z-index: -100;
}

#content-tab-2 p,
#content-tab-2 ul,{
	margin-bottom: 16px;
}

#container-content input#tab-1:checked ~ #content #content-tab-1,
#container-content input#tab-2:checked ~ #content #content-tab-2,
#container-content input#tab-3:checked ~ #content #content-tab-3,
#container-content input#tab-4:checked ~ #content #content-tab-4{
	opacity: 1;
	z-index: 100;
}


#menu-tab-2{
	background-color: gray;
	color: white;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;

}

#menu-tab-2 span {
	line-height: 50px;
	display: inline-block;
	margin-left: 20px;
}

.menu-botones-tab2 {
	background-color: white;
	color: black;
	border-width: 2px;
	text-decoration: none;
	border-style: solid;
	border-radius: 15px;
	padding: 0 15px;
}

#menu-tab-2 a:hover{
	background-color: #BDBDBD;
}

#menu-tab-2 a:active{
	background-color: #F2F2F2;
}

.sign{
color:black;
}

#T2-panel-1{
	width: 68%;
	height: 450px;
	display: inline-block;
	position: relative;
}

.idle{
	position: absolute;
	background-color: #acea8c;
	width: 96%;
	height: 12%;
	border:1.5px solid gray;
	border-radius: 5%;
	padding:1%;
	margin-left:2%;
	margin-right:3%;
	text-align: center;
}

.idleText, .buildingText {
	display: inline-block;
	position: relative;
	margin-left: 8%;
	font-size: 14px;
	color:black;
}

.building{
	position: absolute;
	background-color:#f7f376;
	width: 96%;
	height: 12%;
	border:1.5px solid gray;
	border-radius: 5%;
	padding:1%;
	margin-left:2%;
	margin-right:3%;
	text-align: center;
}

#idle-2{
	margin-top: 45%;
}

#building-1{
	margin-top: 30%
}

#building-2{
	margin-top: 15%;
}

.or{
	color:gray;
}

.circle{
	position: relative;
	background-color: gray;
	width: 6.65%;
	height: 60%;
	border-radius: 100%;
	margin-top: -1%;
}

#T2-panel-2{
	width: 28%;
	height: 444px;
	float: right;
	border-style: solid;
	border-color: white white white black;
	display: inline-block;
	padding: 0 5px;
}

#T2-panel-2 span {
	display: inline-block;
}

h4{
	margin-bottom: 2px;
}

.text-panel-2{
	font-size: 15px;
	line-height: 70%
}

.column-left{
	visibility: hidden;
	font-size: 10px;
}


#spoiler1{
  display:none;
  text-align: center;

}

#add {
  cursor:pointer;
  border-style: none none dotted none;
  border-bottom-width: 1px;
	margin-top:-10%;
	margin-left: -40%;
	margin-right: 0%;
  display:inline-block;
	position: relative;
	font-size: 14px;
  width: 130px;
}

#crear, #cerrar {
  border:2px solid black;
  border-radius: 28%;
	position: relative;
	margin-top: 0%;
}

#crear {
	margin-left: 45%;
}

#ocultar {
  display:none;

}

#div1 {
  display:inline-block;
  text-align: justify;
}

#spo1 {
	display:inline-block;
	position: relative;
	margin-left:5%;
	margin-top: 0%;
}

#input {
	display: inline-block;
  margin-top: 2%;
	margin-left: -40%;
	position: absolute;
	z-index: 300;
}

.speech-bubble {
    width: 400px;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #555;
    background-color: #666;
    position: absolute;
    top: 87%;
    left: 5%;
    color: #FFF;
    display: inline-block;
    text-align: center;
		z-index: 300;
}
.speech-bubble:before {
    content: "";
    width: 0;
    position: relative;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: #666 transparent #666 transparent;
    top: -40px;
}

.recurso {
               color:black;
               margin-right:10px;
               padding: 0 2px;
               font-size:1em;

           }

.recurso a{
               color:black;
               background-color: #ccc7c7;
               margin-left: 5px;
               margin-right:10px;
               padding: 2px;
               border:1px solid black;
               -moz-border-radius:4px;
               -webkit-border-radius:4px;
               -o-border-radius:4px;
               border-radius:4px;
               font-size:0.5em;
               cursor:pointer;
          }
